<div class="card">
    <h5 class="card-header">{{title}}</h5>
    <div class="card-body">
        <h5 class="card-title">Dados da Inscrição</h5>
        <form action="/add" method="post">
            <div class="mb-3">
                <label for="condition" class="form-label">Condição:</label>
                <input type="text" class="form-control" id="condition" name="condition">
            </div>
            <div class="mb-3">
                <label for="condition_desc" class="form-label">Descrição da Condição:</label>
                <input type="text" class="form-control" id="condition_desc" name="condition_desc">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Preço:</label>
                <input type="text" class="form-control" id="price" name="price">
            </div>
            <div class="mb-3">
                <label for="mileage" class="form-label">Milhas:</label>
                <input type="text" class="form-control" id="mileage" name="mileage">
            </div>
            <button type="submit" class="btn btn-success">Adicionar</button>
    </div>
    </form>
</div>
</div>